<html>
  <head>
    <title>Buy cool new product</title>
  </head>
  <body>
    <!-- Use action="/create-checkout-session.php" if your server is PHP based. -->

    <form action="/create-checkout-session" method="POST">
      <input type="hidden" name="product" value="Product1">
      <button type="submit">Checkout 10.00</button>
    </form>
    
    <form action="/create-checkout-session" method="POST">
      <input type="hidden" name="product" value="Product2">
      <button type="submit">Checkout 20.00</button>
    </form>
    
    <form action="/create-checkout-session" method="POST">
      <input type="hidden" name="product" value="Product3">
      <button type="submit">Checkout 50.00</button>
    </form>

    <form action="/create-checkout-session" method="POST">
      <input type="hidden" name="product" value="Dynamic">
      <label for="number">Amount (USD):</label>
      <input type="number" id="number" name="number" required>
      <button type="submit">Checkout</button>
    </form>
  
    </body>
</html>